{% extends 'rango/base.html' %}

{% block body_block %}
    <h1>Add a Page to {{ category.name }}</h1>

    <div>
        <form id="page_form" method="post" action="{% url 'rango:add_page' category.slug %}">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <p><strong>{{ field.label_tag }}</strong></p>
                <p>{{ field }}</p>
                {% if field.errors %}
                    <p style="color: red;">{{ field.errors }}</p>
                {% endif %}
                <p><small>{{ field.help_text }}</small></p>
            {% endfor %}

            <input type="submit" name="submit" value="Create Page" />
        </form>


        {% if success %}
            <p style="color: green;">Page added successfully!</p>
        {% endif %}

        <hr>


        <a href="{% url 'rango:show_category' category.slug %}">Back to Category</a>
    </div>
{% endblock %}
